venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.git
.gitignore
*.md
populate_data.py
Procfile
runtime.txt
orders/tests.py
orders/migrations/__pycache__/
sunday_orders_backend/__pycache__/
staticfiles/

